 <section class="text-center text-white py-5 home-parent">
    <div class="mx-auto div-img">
      <img
        src="assets/images/riyad.jpg"
        class="w-100 photo "
      />
    </div>
  
    <div class="info mt-3">
      <h2>START FRAMEWORK</h2>
   
      <div
        class="d-flex justify-content-center align-items-center text-white mt-3"
      >
        <div class="line me-3"></div>
        <i class="fa-solid fa-star"></i>
        <div class="line ms-3"></div>
      </div>
      <div class="personal-info mt-3">
        <p>Front End Developer_Angualr.JS</p>
      </div>
    </div>
  </section>
   