.div-img{
    width: 27%;
    height: 27%;
}
@media screen and (max-width:800px) {
    .div-img{
        width: 50%;
        height: 50%;
    }
}
.photo{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin-top: 50px;
}
.home-parent{
    background-color: #1abc9c;
}
.info h2{
    font-weight: bold;
    font-size: 40px;
}
@media screen and (max-width:800px) {
    .info h2{
        font-size: 25px;
    }
}
.line{
    width: 80px;
    height: 4px;
    background-color: white;
}
.personal-info p {
    font-size: 18px;
}